@model Cafeteria.Informe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Informe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MetodoPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetodoPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pedido.Estado_Producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pedido.Estado_Producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
