@model IEnumerable<Cafeteria.ViewModels.ReporteViewModel>

@{
    ViewBag.Title = "Reporte";
}

<h2>Reporte</h2>

<style>
    body {
        background-image: url('/Content/Images/Fondo%20de%20Reporte.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>

<table class="table table-dark table-striped-columns">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Método de Pago</th>
            <th>Fecha</th>
            <th>Estado del Pedido</th>
            <th>Nombre del Producto</th>
            <th>Ingredientes</th>
            <th>Precio</th>
            <th>Sección</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Cliente</td>
                <td>@item.MetodoPago</td>
                <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                <td>@item.EstadoPedido</td>
                <td>@item.NombreProducto</td>
                <td>@item.Ingredientes</td>
                <td>@item.Precio.ToString("C", new System.Globalization.CultureInfo("es-CR"))</td>
                <td>@item.Seccion</td>
            </tr>
        }
    </tbody>
</table>
