@model List<Cafeteria.Models.CarritoItem>

@{
    ViewBag.Title = "Carrito";
}

<h2>Carrito de Compras</h2>

@if (!Model.Any())
{
    <p>El carrito está vacío.</p>

    <a href="@Url.Action("Index", "Catalogo")" class="btn btn-primary">Volver</a>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Ingredientes</th>
                <th>Precio</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Ingredientes</td>
                    <td>₡@item.Precio</td>
                    <td>
                        @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdProducto }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <hr />
    <h4>Total de la orden: <strong>₡@Model.Sum(p => p.Precio)</strong></h4>

    using (Html.BeginForm("FinalizarPedido", "Carrito", FormMethod.Post))
    {
        <div class="form-group">
            <label for="nombreCliente">Nombre del Cliente:</label>
            <input type="text" id="nombreCliente" name="nombreCliente" class="form-control" list="clientes" required />
            <datalist id="clientes">
                @foreach (var cliente in ViewBag.Clientes as List<Cafeteria.ClientesCafeteria>)
                {
                    <option value="@cliente.Nombre" />
                }
            </datalist>
        </div>

        <div class="form-group">
            <label for="metodoPago">Método de Pago:</label>
            <select id="metodoPago" name="metodoPago" class="form-control" required>
                <option value="Efectivo">Efectivo</option>
                <option value="SINPE">SINPE</option>
            </select>
        </div>

        <button type="submit" class="btn btn-success mt-3">Finalizar Orden</button>
    }
    <a href="@Url.Action("Index", "Catalogo")" class="btn btn-primary" style="margin-top: 10px;">Seguir comprando</a>

}
