@model Cafeteria.Producto
<style>
    body {
        background-image: url('@Url.Content("~/Content/Images/Fondo_Productos.jpg")');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        color: white;
        font-family: 'Segoe UI', sans-serif;
    }
</style>
@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles de Productos</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredientes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredientes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seccion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Producto }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-primary" })
</p>
